
<h1>Listing posts</h1>

United Diversity:

<p>

<table>
  <tr>
  	<th>#</th>
    <th>Elo</th>
    <th>Team name</th>
  </tr>
<% index = 0%>

<% @posts.each_with_index do |post| %>
  <% unless !post.is_eligible? %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= post.team_elo %></td>
      <td><%= post.team_name %></td>
      <% index = index + 1%>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%#(replace with % to use) link_to 'New Post', new_post_path %>

<%#(replace with % to use) link_to 'Refresh', {:controller=>"posts", :action=>"create_new_list"}%>