<h1>Listing posts</h1>

<table>
  <tr>
    <th>Team elo</th>
    <th>Team name</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.team_elo %></td>
    <td><%= post.team_name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
<%= link_to 'Refresh', {:controller=>"posts", :action=>"create_new_list"}%>